* {
    margin: 0px;
    text-decoration: none;
    /* border: 1px solid red; */
}
body, html {
    height: 100%;
}

body {
    font-family: lato;
}

/*----------------------------*\
#top_image
\*----------------------------*/

.top_image {
    background-image: url(svg/website_top_bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo {
    width: 30%;
    min-width: 300px;
}

.contact_btn {
    text-align: center;
    align-self: flex-start;
    width: 100%;
}

.top_image_hud {
    width: 100%;
    min-height: 300px;
    background-color: rgba(45, 40, 80, 0.8);
    align-self: flex-end;
    bottom: 0%;
    margin: none;
    display: flex; 
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section_link_container {
    height: 80px;
    width: 250px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid red; */
}

.section_icon {
    height: 70px;
    margin: 10px;
}

a {
    color: white;
    font-size: 1.25rem;
}

/*----------------------------*\
#sections
\*----------------------------*/

.section--big {
    min-height: 100%;
    width: 100%;
}

.section--grey {
    background-color: #F7F7FF;
}