* {
    margin: 0px;
    /* border: 1px solid red; */
}
body, html {
    height: 100%;
}

body {
    font-family: lato;
}
/*hero image================================================*/
.top_image {
    background-image: url(svg/website_top_bg.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
    /* align-content: flex-start; */
}

.logo {
    width: 30%;
    /* align-self: center; */
}

a {
    text-align: center;
    margin: auto;
}